{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Movies</h2>
    {{if .Movie2s}}
     <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Session</th>
            <th>Actions</th>
        </tr>
        {{range .Movie2s}}
        <tr>
            <td><a href='/movies/{{.ID}}'>{{.ID}}</a></td>
            <td>#{{.Title}}</td>
            <td>#{{.Genre}}</td>
            <td>#{{.Rating}}</td>
            <td>{{.SessionTime}}</td>

            <td>
                   <a href="/movies/delete?={{.ID}}" onclick=" return confirm('Delete this movie?') "> Delete</a>


            </td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
    <script src="/static/js/main.js"></script>
    <script>
        function deleteMovie(movieId) {
            if (confirm('Are you sure you want to delete this movie?')) {
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', '/deleteMovie?id=' + movieId, true);
                xhr.setRequestHeader('Content-Type', 'application/json'); // Set content type

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        alert('Movie deleted successfully');
                        location.reload();
                    } else {
                        alert('Error deleting movie. Please try again.');
                    }
                };

                xhr.send();
            }
        }

        function toggleUpdateForm(movieId) {
            var updateForm = document.getElementById('update-form-' + movieId);
            updateForm.style.display = (updateForm.style.display === 'none' || updateForm.style.display === '') ? 'block' : 'none';
        }
    </script>
{{end}}
