{{template "base" .}}

{{define "title"}}Movies #{{.Movies.ID}}{{end}}

{{define "main"}}
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>


    {{with .Movies}}

    <div class='movies'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>


        <div class='metadata'>
                <p>Genre: {{.Genre}} </p>
        </div>

        <div class='metadata'>
                <p>Rating: {{.Rating}} </p>
        </div>

        <div class='metadata'>
           <time>Created: {{.SessionTime}}</time>
        </div>







    </div>

    {{end}}
{{end}}
